<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mars Data</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
        </div>

        <h2>Want to know some Mars things?</h2>

      </div>
      </div>  



</body>
</html>